<!DOCTYPE html>
<html>
  <head>
    <title>Document Repository</title>
  </head>
  <body>
    <h1>Welcome to Document Repository</h1>
    <h3>Search a document in Document Repository</h3>
    <p>Search by document id </p>
    <form action="/document/searchDocument" method="get">
        <input type="text" name="docId" placeholder="search" required>
        <button type="submit">Search</button>
    <section>
       <%= message1 %> <%= docId %> <%= message2 %>
    </form>
    <li id="addDocs"><a href="/document/addDocuments">Add a new document to the Repository</a></li>
    <li id="listDocs"><a href="/document/listAllDocuments">List all documents in the Repository</a></li>
    </section>
  </body>
</html>
